* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Nanum Gothic;
}

header {
	position: relative;
	background-color: rgb(233, 233, 233);
	width: 1425px;
	height: 800px;
}

.circle {
	position: absolute;
	background-color: rgb(166, 246, 255);
	width: 800px;
	height: 800px;
	border-radius: 0% 50% 50% 0%;
}

.frame {
	top: 50px;
	right: 50px;
	position: absolute;
	background-color: white;
	width: 1325px;
	height: 700px;
	border-radius: 10%;
}

.box {
	position: absolute;
	top: 150px;
	left: 80px;
	display: flex;
	justify-content: space-evenly;
}

.box h1 {
	margin-top: 125px;
	font-size: 55px;
	color: rgb(38, 56, 63);
}

.box img {
	margin-left: 140px;
	width: 500px;
	height: 500px;
}

.block1 {
	position: relative;
	width: 1425px;
	height: 600px;
	background-color: rgb(233, 233, 233);
}

.w1, .w2, .w3 {
	padding: 20px;
	background-color: white;
	box-shadow: 30px 30px rgb(184, 184, 184, 0.5);
}

.w1 {
	position: absolute;
	margin: 73px;
	height: 400px;
}

.w1 img {
	display: block;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	height: 250px;
	width: 400px;
}

.w1 p {
	margin-top: 20px;
	text-align: center;
	font-size: 32px;
}

.block2 {
	position: relative;
	width: 1425px;
	height: 570px;
	background-color: rgb(233, 233, 233);
	border-radius: 0% 0% 10% 10%;
	display: flex;
	justify-content: space-evenly;
}

.w2 {
	height: 400px;
	width: 562px;
}

.w2 img {
	display: block;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	height: 200px;
	width: 200px;
}

.w2 p {
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
}

.w3 {
	height: 400px;
	width: 562px;
}
.w3 img {
	display: block;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	height: 200px;
	width: 200px;
}

.p1 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
}

.p2 {
	text-align: center;
	font-size: 9px;
	font-style: italic;	
	color: gray;
}

.block3 {
	width: 1425px;
	height: 390px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.tree-item {
	padding: 20px;  
	width: 180px;
	height: 22px;
	font-size: 18px;
	background-color: white;
    border: 3px solid #000;
    text-align: center;
    float: left;
}

.tree-line {
	background-color: black;
    float: left;
	width: 2px;
}

#no1 {
    margin-left: 509px;
 }
#no2 {
    margin-left:123px;
 }
#no2, #no3, #no4 {
    margin-right:158px;
 }
 #no5, #no7 {
 	margin-left:318px;
 }
#no5, #no6 {
    margin-right:158px;
 }
#no8, #no9 {
	margin-left:158px;
}
#line1, #line6 {
    height:20px;
    margin-left: 619px;
    margin-right: 500px;
 } 
#line2 {
	width:770px;
	height: 2px;
	margin-left: 235px;
	margin-right: 500px;
 } 
#line3 {
	height:20px;
	margin-left:235px;
 }  
#line4 {
	height:20px;
	margin-left:382px;
}
#line5 {
	height:20px;
	margin-left:382px;
	margin-right: 300px;
}
#line7 {
	width:386px;
	height: 2px;
	margin-left: 428px;
	margin-right: 1000px;
 } 
 #line8 {
	height:20px;
	margin-left:428px;
 }
 #line9 {
	height:20px;
	margin-left:382px;
	margin-right: 500px;
 }
 #line10 {
 	height:20px;
    margin-left: 812px;
    margin-right: 500px;
 }
 #line11 {
	width:770px;
	height: 2px;
	margin-left: 428px;
	margin-right: 1000px;
}
#line12 {
	height:20px;
	margin-left:428px;
 }  
#line13, #line14 {
	height:20px;
	margin-left:382px;
}

.block4 {
	width: 1425px;
	height: 500px;
}

.slider-container {
	position: relative;
	width: 1025px;
	height: 500px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	overflow: hidden;
	background-color: rgb(233, 233, 233);
}

.slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.prev-button, .next-button {
	position: absolute;
	top: 50%;
	background-color: transparent;
	font-size: 30px;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;

.s {
	position: absolute;
	width: 1025px;
	height: 500px;
}

.s1 {
	position: relative;
}
.s2 {
	position: relative;
}
.s3 {
	position: relative;
}
.s4 {
	position: relative;
}
.s5 {
	position: relative;
}
.s6 {
	position: relative;
}
.s7 {
	position: relative;
}
.s8 {
	position: relative;
}

.s p {
	position: absolute;
	text-align: center;
	font-size: 30px;
	padding-top: 50%;
	transform: translate(0, -50%);
	padding-right: 30px;
	padding-left: 50%;
}

.s img {
	position: absolute;
	padding: 30px;
	width: 452px;
	height: 440px;
}

/*.tree a {
	color: black;
	text-decoration: none;
}

.tree a:hover {
	color: rgb(38, 56, 63);
}*/